p{
    font-size: 15px;
}
li{
    font-size: 15px;
}
h1{
    color: aqua;
    font-size: 50px;
}
img{
    width: 200px;
    height: 100px;
}
h2{
    color: blue;
    font-size: 40px;
}

h3{
    color: brown;
    font-size: 30px;
}
h4{
    color: chocolate;
    font-size: 25px;
}
h5{
    color: aquamarine;
    font-size: 20px;
}
h6{
    color: brown;
    font-size: 15px;
}